parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - '../../../../vendor/*'
    ignoreErrors:
        # Add any specific errors you want to ignore here
       - '#Call to an undefined method [a-zA-Z0-9\\_]+::(get|set|uns|has|calc|unset)[A-Z]#'
    bootstrapFiles:
        # - ../../../../vendor/bitexpert/phpstan-magento/bootstrap.php
includes:
    # - ../../../../vendor/bitexpert/phpstan-magento/extension.neon
