<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smartcore_InPostInternational::inpost"
             title="InPost International"
             translate="title"
             module="Smartcore_InPostInternational"
             sortOrder="100"
             parent="Magento_Sales::sales"
             resource="Smartcore_InPostInternational::inpost"
        />
        <add id="Smartcore_InPostInternational::shipment_create"
             title="Create shipment [will be removed]"
             translate="title"
             module="Smartcore_InPostInternational"
             sortOrder="10"
             parent="Smartcore_InPostInternational::inpost"
             action="inpostinternational/shipments/create"
             resource="Smartcore_InPostInternational::shipments"
        />
        <add id="Smartcore_InPostInternational::shipments_index"
             title="Shipments List [not work yet]"
             translate="title"
             module="Smartcore_InPostInternational"
             sortOrder="20"
             parent="Smartcore_InPostInternational::inpost"
             action="inpostinternational/shipments/index"
             resource="Smartcore_InPostInternational::shipments_index"
        />
        <add id="Smartcore_InPostInternational::parceltemplate_index"
             title="Parcel template list"
             translate="title"
             module="Smartcore_InPostInternational"
             sortOrder="40"
             parent="Smartcore_InPostInternational::inpost"
             action="inpostinternational/parceltemplate/index"
             resource="Smartcore_InPostInternational::parceltemplate_index"
        />
        <add id="Smartcore_InPostInternational::pickupaddress_index"
             title="Pickup address list"
             translate="title"
             module="Smartcore_InPostInternational"
             sortOrder="50"
             parent="Smartcore_InPostInternational::inpost"
             action="inpostinternational/pickupaddress/index"
             resource="Smartcore_InPostInternational::pickupaddress_index"
        />
        <add id="Smartcore_InPostInternational::carrier_configuration"
             title="Carrier configuration"
             module="Smartcore_InPostInternational"
             sortOrder="500"
             parent="Smartcore_InPostInternational::inpost"
             action="adminhtml/system_config/edit/section/carriers"
             resource="Smartcore_InPostInternational::configuration"
        />
        <add id="Smartcore_InPostInternational::shipping_configuration"
             title="Module configuration"
             module="Smartcore_InPostInternational"
             sortOrder="510"
             parent="Smartcore_InPostInternational::inpost"
             action="adminhtml/system_config/edit/section/shipping"
             resource="Smartcore_InPostInternational::configuration"
        />
    </menu>
</config>
